/*font import => font-family: 'Lexend', sans-serif;*/
/*weight: 400*/
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

/*font import => font-family: 'Inter', sans-serif;*/
/*weight  : 400, 700*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


:root{
  --bg-main: hsl(233, 47%, 7%);
  --bg-card: hsl(244, 38%, 16%);

  --c-accent: hsl(277, 64%, 61%);
  --c-white: hsl(0, 0%, 100%);
  --c-white_para : hsla(0, 0%, 100%, 0.75);
  --c-white_heading:hsla(0, 0%, 100%, 0.6);
}